{block content}

<h1 n:block="title">Přihlášení uživatele - ověření 2FA</h1>

<p>Zadejte bezpečnostní kód z mobilní aplikace.</p>

{control validateUserSecretCodeForm}

<a href="{plink logout}">odhlásit se</a>