{contentType application/xml}

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    <url>
        <loc>{$baseUrl}</loc>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>

    {*TODO výpis jednotlivých produktů*}

</urlset>