{varType App\Model\Entities\Cart $cart}
{snippet}
  <div>

    {if empty($cart) || $cart->getTotalCount()==0}
      <a href="{plink Cart:default}">košík</a> je prázdný
    {else}
      {var $cartTotalCount = $cart->getTotalCount();}
      <a href="{plink Cart:default}">v košíku</a> je {$cartTotalCount} {if $cartTotalCount==1}položka{elseif $cartTotalCount<5}položky{else}položek{/if} za {$cart->getTotalPrice()|number:0,',',' '} Kč
    {/if}

  </div>
{/snippet}