{varType App\Model\Entities\Cart $cart}

{if empty($cart->items)}
    košík je prázdný


{else}
    <table class="table table-hover">

        {foreach $cart->items as $item}
            <tr>
                <th>{$item->product->title}</th>
                <td>{$item->count}</td>
                <td>
                    <a href="{link remove! $item->cartItemId}">odebrat</a>
                </td>
            </tr>
        {/foreach}

    </table>


{/if}