{varType App\Model\Entities\Product[] $products}
{block content}

<h1 n:block="title">Nabízené produkty</h1>

<section class="row" n:if="!empty($products)">
    {foreach $products as $product}
        <div class="col-md-6 col-lg-4 my-2 card">
            <a href="{plink Product:show url=>$product->url}" class="h4">{$product->title}</a>
        </div>
    {/foreach}
</section>