{block content}

<h1 n:block="title">Přihlášení uživatele</h1>

{control userLoginForm}

<a href="{plink forgottenPassword}">Zapomněl(a) jsem heslo</a><br />
<a href="{plink register}">Registrovat se</a>