{contentType application/json}
{*šablona generující manifest pro Chrome*}
{
    "name": "E-shop",
    "icons": [
        { "src": "{$basePath}/img/favicon/icon-192x192.png", "type": "image/png", "sizes": "192x192" }
    ]
}